<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//maybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.mapper.CollectMapper">
    <update id="updateById" parameterType="com.xm.entity.Collect">
        update `collect` set id=#{id},user_id=#{userId},song_id=#{songId},song_list_id=#{songListId},create_time=#{createTime}  where id = #{id}
    </update>
    <select id="selectAll" resultType="com.xm.entity.Collect">
        select * from music.collect
    </select>
    <insert id="insert" parameterType="com.xm.entity.Collect">
        insert into `collect` (id,user_id,song_id,song_list_id,create_time) values (#{id},#{userId},#{songId},#{songListId},#{createTime})
    </insert>
</mapper>